* {
    background: #350C40;
}

#div {
    padding20px;
}

#title {
    color: #D96459;
    font-family: cursive;
    margin: 70px auto auto 70px;
}

#text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 700px 0 70px;    
}

#pic {
  float: right;
  margin: -50px 200px 0 0;
}

.contactButton {
    background: white;
    color: #D96459;
    font-family: cursive;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
    margin: 70px;
}
  
  .iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #D96459;
    right: 0.3em;
    transition: all 0.3s;
}
  
  .contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #D96459;
}
  
  .contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #D96459;
}

#back {
  font-family: cursive;
  color: #D96459;
  margin: 0 0 0 70px;
  text-decoration: none;
}